<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <div class="btn-group">
        <div class="btn btn-primary" mwlCalendarPreviousView [view]="'week'" [(viewDate)]="viewDate">Previous</div>
        <div class="btn btn-primary" mwlCalendarToday [(viewDate)]="viewDate" (click)="scrollToCurrentTime()">Today
        </div>
        <div class="btn btn-primary" mwlCalendarNextView [view]="'week'" [(viewDate)]="viewDate">Next</div>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <button type="button" class="btn btn-primary" (click)="open(content)">Custom definition</button>
      <h3 class="mx-2">{{ viewDate | calendarDate:('weekViewTitle') }}</h3>
    </div>
  </div>
  <br/>

  <ng-template
    #weekViewHourSegmentTemplate
    let-segment="segment"
    let-locale="locale"
    let-segmentHeight="segmentHeight"
    let-isTimeLabel="isTimeLabel"
  >
    <div
      #segmentElement
      class="cal-hour-segment"
      [style.height.px]="segmentHeight"
      [class.cal-hour-start]="segment.isStart"
      [class.cal-after-hour-start]="!segment.isStart"
      (mousedown)="startDragToCreate(segment, $event, segmentElement)"
    >
      <div class="cal-time" *ngIf="isTimeLabel">
        {{ segment.date | calendarDate:'weekViewHour':locale }}
      </div>
    </div>
  </ng-template>

  <div class="scroll-container">
    <mwl-calendar-week-view
      [viewDate]="viewDate"
      [events]="getEvents()"
      [hourSegmentTemplate]="weekViewHourSegmentTemplate"
      [weekStartsOn]="weekStartsOn"
      (eventTimesChanged)="eventTimesChanged($event)"
      [hourSegments]="4"
      [eventTemplate]="eventTemplate"
    >
    </mwl-calendar-week-view>
  </div>
  <div class="d-flex justify-content-end mt-2">
    <div *ngIf="!hasEvents()" class="btn btn-primary" (click)="createEvents()">Create</div>
    <div *ngIf="hasEvents()" class="btn btn-primary" (click)="createEvents()">Update</div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Custom definition</h4>
    <button type="button" class="btn-close" aria-describedby="modal-title"
            (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="modalForm" (ngSubmit)="onFormSubmit()">
      <div class="form-group mb-3">
        <label for="dates">Select multiple dates</label>
        <input class="mwlFlatpickr"
               mwlFlatpickr
               id="dates"
               formControlName="dates"
               type="text"
               autocomplete="off"
               mode="multiple"
               [allowInput]="false"
               [dateFormat]="'Y-m-d'"
        >
      </div>
      <div class="row">
        <div class="form-group col">
          <label for="startTime">Start time</label>
          <input class="mwlFlatpickr"
                 mwlFlatpickr
                 id="startTime"
                 formControlName="startTime"
                 type="text"
                 autocomplete="off"
                 [time24hr]="true"
                 [enableTime]="true"
                 [noCalendar]="true"
                 [allowInput]="false"
                 [dateFormat]="'H:i'"
          >
        </div>
        <div class="form-group col">
          <label for="duration">Duration</label>
          <input class="mwlFlatpickr"
                 mwlFlatpickr
                 id="duration"
                 formControlName="duration"
                 type="text"
                 autocomplete="off"
                 [time24hr]="true"
                 [enableTime]="true"
                 [noCalendar]="true"
                 [allowInput]="false"
                 [dateFormat]="'H:i'"
          >
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
          <label for="pause">Break between Events</label>
          <input class="mwlFlatpickr"
                 mwlFlatpickr
                 id="pause"
                 formControlName="pause"
                 type="text"
                 autocomplete="off"
                 [time24hr]="true"
                 [enableTime]="true"
                 [noCalendar]="true"
                 [allowInput]="false"
                 [dateFormat]="'H:i'"
          >
        </div>
        <div class="form-group col">
          <label for="repeat">Repeat x times</label>
          <input class="mwlFlatpickr"
                 id="repeat"
                 formControlName="repeat"
                 type="number"
                 autocomplete="off"
                 min="1"
          >
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('Ok click')">Apply</button>
  </div>
</ng-template>

<ng-template
  #eventTemplate
  let-weekEvent="weekEvent"
  let-daysInWeek="daysInWeek"
>
  <div class="cal-event d-flex justify-content-between">
    <mwl-calendar-event-title
      [event]="weekEvent.tempEvent || weekEvent.event"
      [view]="daysInWeek === 1 ? 'day' : 'week'"
    ></mwl-calendar-event-title>
    <mwl-calendar-event-actions [event]="weekEvent.tempEvent || weekEvent.event">
    </mwl-calendar-event-actions>
  </div>
</ng-template>
