.scroll-container {
  height: calc(100vh - 258px);
  border: 1px solid #5a189aff;
  box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}

.btn-group .btn {
  border: 1px solid black;
}

.mwlFlatpickr {
  width: 100%;
}

.click-cursor {
  cursor: pointer;
}
