<nav class="navbar navbar-dark navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <img class="navbar-logo" ngSrc="/assets/logo.png" alt="Apollusia Logo" width="64" height="64" style="height: 2rem">
    <a class="navbar-brand" routerLink="/">Apollusia</a>
    <button class="navbar-toggler" type="button" (click)="menuCollapsed = !menuCollapsed">
      <i class="bi-list icon"></i>
    </button>
    <div [ngbCollapse]="menuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li>
          <a class="btn btn-primary text-nowrap bi-calendar-plus" type="button" routerLink="poll/create">
            Create Poll
          </a>
        </li>
        <li ngbDropdown class="nav-item" role="presentation" placement="end">
          <button type="button" class="nav-link bi-moon-stars" ngbDropdownToggle></button>
          <div ngbDropdownMenu>
            <button *ngFor="let theme of themes" ngbDropdownItem [class]="theme.icon" (click)="theme$.next(theme.value)">
              {{ theme.name }}
              <i [class.bi-check]="(theme$ | async) === theme.value"></i>
            </button>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="legal">Legal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="[{outlets: {modal: 'settings'}}]">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/Morphclue/apollusia" target="_blank">
            <i class="bi-github icon" title="GitHub"></i>
          </a>
        </li>
        <li class="nav-item" ngbDropdown display="dynamic">
          <a class="nav-link" ngbDropdownToggle id="navbarDropdown" role="button">
            <i class="bi-person-circle icon" title="User"></i>
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown" class="dropdown-menu">
            <a ngbDropdownItem href="#">
              <i class="bi-gear icon"></i>
              Settings
            </a>
            <a
              ngbDropdownItem
              href="https://github.com/Morphclue/apollusia/issues/new?template=bug_report.md"
              target="_blank">
              <i class="bi-bug icon"></i>
              Report a bug
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
