.outlined {
  border: 5px solid #5a189aff;
}

.icon-lg {
  font-size: 1.5rem;
}

.p-yes {
  color: #28a745;
  background-color: #d4edda;
}

.p-maybe {
  color: #ffc107;
  background-color: #fff3cd;
}

.p-no {
  color: #dc3545;
  background-color: #f8d7da;
}
