<div class="container">
  <div class="col-md-6">
    <h2>Feature Rich</h2>
    <p>
      Experience the unparalleled feature set of Apollusia, setting it apart as the market's foremost platform for
      modern event polls.
    </p>
  </div>
  <table class="table table-bordered text-center">
    <thead class="bg-dark text-light">
    <tr>
      <th scope="col">Feature</th>
      <th scope="col" *ngFor="let app of apps">{{ app }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let feature of features">
      <th scope="row">{{ feature[0] }}</th>
      <ng-container *ngFor="let alternative of feature[1]">
        <ng-container [ngSwitch]="alternative">
          <td *ngSwitchCase="true" class="bg-success text-light bi-check-lg"></td>
          <td *ngSwitchCase="false" class="bg-danger bi-x-lg"></td>
          <td *ngSwitchDefault
              class="bg-warning bi-flag"
              placement="left" [ngbTooltip]="''+alternative"
              container="body"></td>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</div>
