version: '3.8'
services:
  nest:
    container_name: nest-backend
    depends_on:
      - db
    restart: always
    build: .
    ports:
      - "3000:3000"
    environment:
      - DB_URL=mongodb://db_mongo
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules

  db:
    image: mongo
    container_name: db_mongo
    volumes:
      - mongodata:/data/db
    ports:
      - "27017:27017"

volumes:
  mongodata: