<div *ngIf="poll !== undefined">
  <div class="col d-flex justify-content-center">
    <div class="col-lg-6 mt-3">
      <div class="card">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <h5 class="card-title">{{poll.title}}</h5>
            <div class="d-flex">
              <a class="btn btn-flash-border-primary bi-person" href="poll/{{poll._id}}/participate"> View</a>
              <a *ngIf="isAdmin()"
                 class="btn btn-flash-border-primary bi-pencil-square"
                 href="poll/{{poll._id}}">
                Edit
              </a>
            </div>
          </div>
        </div>
        <div *ngIf="poll.description" class="card-body">
          <p class="card-text">{{poll.description | truncate:[160, '...']}}</p>
        </div>
        <div class="card-footer">
          <div *ngIf="poll.settings.deadline" class="bi-calendar">
            Deadline: {{poll.settings.deadline | date:'medium'}}
          </div>
          <div *ngIf="poll.location" class="bi-geo">
            Location: {{poll.location}}
          </div>
          <div class="bi-check">
            Options: {{poll.events}}
          </div>
          <div class="bi-person">
            Participants: {{poll.participants}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
