<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h5 class="card-title">{{poll.title}}</h5>
      <div class="d-flex">
        <a class="btn btn-flash-border-primary bi-person" [routerLink]="['/poll', poll._id, 'participate']">
          View
        </a>
        <a *ngIf="poll.isAdmin" class="btn btn-flash-border-primary bi-pencil-square"
           [routerLink]="['/poll', poll._id]">
          Edit
        </a>
      </div>
    </div>
  </div>
  <div *ngIf="poll.description && !small" class="card-body">
    <app-markdown [text]="poll.description"></app-markdown>
  </div>
  <div class="card-footer">
    <div *ngIf="poll.description && small" class="bi-file-text text-truncate" [ngbTooltip]="description">
      Description: {{ poll.description }}
      <ng-template #description>
        <app-markdown [text]="poll.description"></app-markdown>
      </ng-template>
    </div>
    <div *ngIf="poll.settings.deadline" class="bi-calendar">
      Deadline: {{poll.settings.deadline | date:'medium'}}
    </div>
    <div *ngIf="poll.location" [class]="poll.location | locationIcon">
      Location:
      <app-location-link [location]="poll.location"></app-location-link>
    </div>
    <div class="bi-check">
      Options: {{poll.events}}
    </div>
    <div class="bi-person">
      Participants: {{poll.participants}}
    </div>
  </div>
</div>
