.card-margin {
  margin-bottom: 2rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid #e6e4e9;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(80, 60, 100, 0.1);

  .card-header {
    border: 0;
    background: none;
  }
}

.card-body {
  .title {
    display: flex;
    align-items: center;

    .date-symbol {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: #edf1fc;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;

      .date-day {
        color: #4e73e5;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1;
      }

      .date-month {
        color: #4e73e5;
        line-height: 1;
        font-size: 1rem;
        text-transform: uppercase;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      margin-left: 1rem;

      .info-title {
        color: #3c4142;
        font-size: 14px;
      }

      .meeting-date {
        color: #B1BAC5;
        font-size: 13px;
      }
    }
  }

  .description {
    font-weight: 400;
    font-size: 13px;
    margin: 1rem 0 0 1rem;
  }

  .edit-button {
    text-align: right;
    text-transform: uppercase;
  }
}
