<div class="container">
  <div class="row my-3">
    <div class="col-md-3">
      <h1 class="sticky-top">
        My Polls
      </h1>
    </div>
    <div class="col-md-6">
      <div *ngFor="let poll of currentAdminPolls">
        <app-card [poll]="poll" [admin]="true"></app-card>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card sticky-top" style="top: 1rem">
        <div class="card-body">
          <img class="float-end logo-glow ms-2 mb-2" src="/assets/logo.png" alt="Apollusia Logo" width="64">
          <h5 class="card-title">
            Welcome to Apollusia!
          </h5>
          <p class="card-text">
            You can create polls and share them with your friends.
          </p>
          <button class="btn btn-primary bi-calendar-plus icon" type="button" routerLink="/poll/create">
            Create Poll
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-3">
      <h1 class="sticky-top">
        My Participations
      </h1>
    </div>
    <div class="col-md-6">
      <div *ngFor="let poll of participantPolls">
        <app-card [poll]="poll"></app-card>
      </div>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-3">
      <h1 class="sticky-top">
        Inactive Polls
      </h1>
    </div>
    <div class="col-md-6">
      <div *ngFor="let poll of oldAdminPolls">
        <app-card [poll]="poll" [small]="true" [admin]="true"></app-card>
      </div>
    </div>
  </div>
</div>
