<div class="container">
  <app-mail-alert *ngIf="!mail"></app-mail-alert>
  <h1 class="text-center">
    {{poll?.title}}
  </h1>
  <div class="mb-3">
    <div *ngIf="poll?.location as location" class="d-flex align-items-center">
      <i class="text-primary fs-4 me-2 {{location | locationIcon}}" ngbTooltip="Location"></i>
      <app-location-link [location]="location"></app-location-link>
    </div>
    <div *ngIf="poll?.settings?.deadline as deadline" class="d-flex align-items-center">
      <i class="bi-calendar text-primary fs-4 me-2" ngbTooltip="Deadline"></i>
      {{ deadline | date: 'medium' }}
    </div>
    <div *ngIf="poll?.description as description" class="d-flex align-items-center">
      <i class="bi-file-text text-primary fs-4 me-2" ngbTooltip="Description"></i>
      <app-markdown [text]="description"></app-markdown>
    </div>
    <div class="d-flex align-items-center">
      <i class="bi-link text-primary fs-4 me-2" ngbTooltip="Link"></i>
      <a routerLink="." class="text-truncate">{{ url }}</a>
      <button class="btn btn-link bi-clipboard" ngbTooltip="Copy to clipboard" (click)="copyToClipboard()"></button>
    </div>
  </div>
  <div *ngIf="closedReason" class="alert alert-info">
    {{ closedReason }}
  </div>
  <div *ngIf="poll?.settings?.blindParticipation && !showResults" class="alert alert-info">
    This is a blind poll. You can't see results or other user's votes until you participate yourself.
  </div>
  <div *ngIf="!closedReason && poll?.settings?.maxParticipantEvents as limit" class="alert alert-info mb-0">
    This poll is limited.
    You can select up to {{ limit }} choices.
  </div>
  <div *ngIf="pollEvents" class="table-responsive text-center">
      <table class="table align-middle">
        <thead>
        <tr>
          <th scope="col"></th>
          <th *ngFor="let event of pollEvents" scope="col">
            <app-event-head [event]="event"></app-event-head>
          </th>
          <th class="border-0" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="!closedReason">
          <th style="min-width: 240px" scope="row">
            <input *ngIf="!poll?.settings?.anonymous"
                   class="form-control"
                   type="text"
                   id="name"
                   placeholder="Your name"
                   [(ngModel)]="name">
            <input *ngIf="poll?.settings?.anonymous"
                   class="form-control"
                   type="text"
                   value="Anonymous"
                   [disabled]="true">
          </th>
          <td *ngFor="let event of pollEvents; let n=index">
            <app-check-button
              [poll]="poll"
              [check]="checks[n]"
              [isFull]="maxParticipantsReached(event)"
              (checkChanged)="checks[n] = $event"
            ></app-check-button>
          </td>
          <th class="border-0 text-start" scope="col">
            <button class="btn btn-primary btn-sm" [disabled]="!(name || poll?.settings?.anonymous) || !canSubmitChecks(checks)" (click)="submit()">
              Submit
            </button>
          </th>
        </tr>
        <ng-container *ngIf="showResults">
          <tr *ngFor="let participant of participants">
            <th>
              <div *ngIf="poll?.settings?.anonymous">
                Anonymous
              </div>
              <div *ngIf="!poll?.settings?.anonymous">
                {{participant.name}}
              </div>
            </th>
            <ng-container *ngIf="participant !== editParticipant">
              <td *ngFor="let pollEvent of pollEvents; let n=index">
                <h5 *ngIf="(participant.participation | some: pollEvent._id ) && participant !== editParticipant"
                    class="text-green bi-check-lg">
                </h5>
                <h5 *ngIf="!(participant.participation | some: pollEvent._id )
                && !(participant.indeterminateParticipation | some: pollEvent._id ) && participant !== editParticipant"
                    class="text-red bi-x-lg">
                </h5>
                <h5
                  *ngIf="(participant.indeterminateParticipation | some: pollEvent._id ) && participant !== editParticipant"
                  class="text-orange bi-question">
                </h5>
              </td>
            </ng-container>
            <ng-container *ngIf="participant === editParticipant">
              <td *ngFor="let event of pollEvents; let n=index">
                <app-check-button
                  [poll]="poll"
                  [check]="editChecks[n]"
                  (checkChanged)="editChecks[n] = $event">
                </app-check-button>
              </td>
            </ng-container>
            <td *ngIf="participant === editParticipant" class="border-0 text-start">
              <button class="btn btn-primary btn-sm ms-1 bi-x" type="button" (click)="cancelEdit()"></button>
              <button class="btn btn-secondary btn-sm ms-1 bi-check" type="button" [disabled]="!canSubmitChecks(editChecks)" (click)="confirmEdit()"></button>
            </td>
            <td *ngIf="!editParticipant" class="border-0 text-start">
              <button
                *ngIf="poll?.settings?.allowEdit && token === participant.token"
                class="btn btn-primary btn-sm ms-1 bi-pencil"
                placement="top"
                ngbTooltip="Edit participation"
                (click)="setEditParticipant(participant)">
              </button>
              <button
                *ngIf="isAdmin || token === participant.token"
                class="btn btn-sm btn-danger ms-1 bi-trash"
                type="button"
                placement="top"
                ngbTooltip="Delete participation"
                (click)="deleteParticipation(participant._id)">
              </button>
            </td>
          </tr>
          <tr>
            <th>Sum</th>
            <td *ngFor="let pollEvent of pollEvents">
              <h5 *ngIf="bestOption === countParticipants(pollEvent)" class="bi-award text-purple">
                {{ countParticipants(pollEvent) }}
              </h5>
              <div *ngIf="bestOption !== countParticipants(pollEvent)">
                {{ countParticipants(pollEvent) }}
              </div>
            </td>
            <td class="border-0"></td>
          </tr>
        </ng-container>
        <tr *ngIf="poll && isAdmin">
          <th>Select Events</th>
          <td *ngFor="let pollEvent of pollEvents; let i = index">
            <input
              type="checkbox"
              class="text-primary form-check-hidden"
              [class.bi-star-fill]="bookedEvents[i]"
              [class.bi-star]="!bookedEvents[i]"
              [(ngModel)]="bookedEvents[i]"
            >
          </td>
          <td class="border-0 text-start">
            <button
              class="btn btn-sm btn-primary"
              type="button"
              (click)="book()">
              Book
            </button>
          </td>
        </tr>
        </tbody>
      </table>
  </div>
</div>
<ngbx-toast-list></ngbx-toast-list>
