<div class="container">
  @if (!mail) {
    <app-mail-alert></app-mail-alert>
  }
  <h1 class="text-center">
    {{ poll?.title }}
  </h1>
  <div class="mb-3">
    @if (poll?.location; as location) {
      <div class="d-flex align-items-center">
        <i class="text-primary fs-4 me-2 {{location | locationIcon}}" ngbTooltip="Location"></i>
        <app-location-link [location]="location"></app-location-link>
      </div>
    }
    @if (poll?.settings?.deadline; as deadline) {
      <div class="d-flex align-items-center">
        <i class="bi-calendar text-primary fs-4 me-2" ngbTooltip="Deadline"></i>
        {{ deadline | date: 'medium' }}
      </div>
    }
    @if (poll?.description; as description) {
      <div class="d-flex align-items-center">
        <i class="bi-file-text text-primary fs-4 me-2" ngbTooltip="Description"></i>
        <app-markdown [text]="description"></app-markdown>
      </div>
    }
    <div class="d-flex align-items-center">
      <i class="bi-link text-primary fs-4 me-2" ngbTooltip="Link"></i>
      <a routerLink="." class="text-truncate">{{ url }}</a>
      <button class="btn btn-link bi-clipboard" ngbTooltip="Copy to clipboard" (click)="copyToClipboard()"></button>
    </div>
  </div>
  @if (closedReason) {
    <div class="alert alert-info">
      {{ closedReason }}
    </div>
  }
  @if (hiddenReason) {
    <div class="alert alert-info">
      {{ hiddenReason }}
    </div>
  }
  @if (!closedReason && poll?.settings?.maxParticipantEvents; as limit) {
    <div class="alert alert-info mb-0">
      This poll is limited.
      You can select up to {{ limit }} choices.
    </div>
  }
  <div class="btn-toolbar justify-content-end mb-3" role="toolbar">
    <div class="btn-group ms-2" role="group">
      @for (view of views; track view.id) {
        <a
          class="btn btn-outline-secondary {{ view.icon }}"
          ngbTooltip="View as {{ view.name }}" container="body"
          routerLink="." [queryParams]="{view: view.id}">
        </a>
      }
    </div>
    <button class="btn btn-outline-primary ms-2" (click)="0 // TODO selectAll('yes')">
      Select All
    </button>
    <div ngbDropdown class="d-inline-block ms-2">
      <button type="button" class="btn btn-outline-secondary" id="sort-dropdown" ngbDropdownToggle>
        Sort
      </button>
      <div ngbDropdownMenu aria-labelledby="sort-dropdown">
        @for (sortMethod of sortMethods; track sortMethod) {
          <button
            ngbDropdownItem
            (click)="sort(sortMethod)"
            class="d-flex align-items-center"
          >
            {{ sortMethod.name }}
            <i class="ms-1" [class]="sortMethod.name === currentSort ? (currentSortDirection === 1 ? 'bi-sort-down-alt' : 'bi-sort-up') : ''"></i>
            <i class="ms-auto hover-info bi-question-circle" [ngbTooltip]="sortMethod.description"></i>
          </button>
        }
      </div>
    </div>
  </div>
  @if (poll && pollEvents && participants) {
    @switch (view$ | async) {
      @case ("table") {
        <apollusia-table
          [poll]="poll"
          [pollEvents]="pollEvents"
          [participants]="participants"
          [isAdmin]="isAdmin"
          [canParticipate]="!closedReason"
          [showResults]="!hiddenReason"
          [token]="token"
          [bestOption]="bestOption"
        ></apollusia-table>
      }
      @case ("events") {
        <apollusia-event-list
          [poll]="poll"
          [pollEvents]="pollEvents"
          [participants]="participants"
          [bestOption]="bestOption"
        ></apollusia-event-list>
      }
    }
  }
</div>
