.table-responsive td, .table-responsive th {
  min-width: 100px;
}

@media (min-width: 768px) {
  th:first-child, th:last-child,
  td:first-child, td:last-child {
    position: sticky;
    backdrop-filter: blur(5px);
  }

  th:first-child, td:first-child {
    background: linear-gradient(90deg, white, rgba(white, 0.75));
    left: 0;
  }

  th:last-child, td:last-child {
    background: linear-gradient(90deg, rgba(white, 0.75), white);
    right: 0;
  }
}

h5 {
  margin: 0;
}

.text-green {
  color: #28a745;
  background-color: #d4edda;
}

.text-red {
  color: #dc3545;
  background-color: #f8d7da;
}

.text-orange {
  color: #ffc107;
  background-color: #fff3cd;
}

.text-purple {
  color: #6f42c1;
}
