h3 {
  padding: 0;
  margin: 0;
}

.month-text {
  color: gray;
}

.table-responsive td, .table-responsive th {
  min-width: 100px;
}

.p-check {
  background-color: #7b2cbfff;
  color: white;
}

.p-indeterminate {
  background-color: #c77dffff;
}

.p-unchecked {
  background-color: #e0aaffff;
}

.button-checked {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7b2cbf;
  border-color: #7b2cbf;
}

.button-icon {
  color: white;
}

.primary-color {
  color: #7b2cbf;
}

.scroll-container {
  box-shadow: 0 0 15px rgba(0, 0, 0, .1);
  height: 8rem;
  overflow-y: scroll;
  border: 1px solid #7b2cbf;
  white-space: pre-wrap;
}

th:first-child, td:first-child {
  position: sticky;
  left: 0;
  background-color: white;
}

th:last-child, td:last-child {
  position: sticky;
  right: 0;
  background-color: white;
}
