<div class="container">
  <div *ngIf="mail.length <= 0" class="d-flex align-items-center justify-content-center pt-5">
    <h3>
      You seem to have no mail configured. Press:
    </h3>
    <!-- TODO: open modal -->
    <a class="btn btn-primary m-2 bi-gear" type="button"> Configure</a>
  </div>
  <div class="d-flex justify-content-center m-3">
    <h3>{{poll?.title}}</h3>
    <div *ngIf="poll && poll.location">
      <h3>
        <i class="bi-geo text-primary" placement="top" ngbTooltip="Location"></i>
        {{ poll.location }}
      </h3>
    </div>
  </div>
  <div class="mb-3">
    <label for="link" class="small">Share this link with other participants</label>
    <div class="input-group">
      <input class="form-control" id="link" readonly="readonly" [(ngModel)]="url">
      <button
        class="btn btn-outline-secondary"
        type="button"
        placement="top"
        ngbTooltip="Copy to clipboard"
        (click)="copyToClipboard()"
      >
        <i class="bi-clipboard"></i>
      </button>
    </div>
  </div>
  <div *ngIf="poll && poll.description">
    <label for="description" class="small">Description</label>
    <p class="scroll-container p-2" id="description">
      {{ poll.description }}
    </p>
  </div>
  <div *ngIf="pollEvents" class="table-responsive text-center">
    <form [formGroup]="participateForm" (ngSubmit)="onFormSubmit()">
      <table class="table table-transpose">
        <thead>
        <tr>
          <th scope="col"></th>
          <th *ngFor="let event of pollEvents" scope="col">
            <app-event-head [event]="event"></app-event-head>
          </th>
          <th class="border-0" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="!isFull()" class="align-middle">
          <th style="min-width: 240px" scope="row">
            <input *ngIf="!poll?.settings?.anonymous"
                   class="form-control"
                   type="text"
                   id="name"
                   placeholder="Your name"
                   formControlName="name">
            <input *ngIf="poll?.settings?.anonymous"
                   class="form-control"
                   type="text"
                   value="Anonymous"
                   [disabled]="true">
          </th>
          <td *ngFor="let event of pollEvents; let n=index">
            <app-check-button
              *ngIf="!maxParticipantsReached(event)"
              [poll]="poll"
              [check]="checks[n]"
              (checkChanged)="checks[n] = $event"
            ></app-check-button>
          </td>
          <th class="border-0 text-start" scope="col">
            <button class="btn btn-primary btn-sm" type="submit" [disabled]="!participateForm.valid">Submit</button>
          </th>
        </tr>
        <ng-container *ngIf="!poll?.settings?.blindParticipation || isAdmin() || userVoted()">
          <tr *ngFor="let participant of participants" class="align-middle">
            <th>
              <div *ngIf="poll?.settings?.anonymous">
                Anonymous
              </div>
              <div *ngIf="!poll?.settings?.anonymous">
                {{participant.name}}
              </div>
            </th>
            <ng-container *ngIf="participant !== editParticipant">
              <td *ngFor="let pollEvent of pollEvents; let n=index">
                <div *ngIf="(participant.participation | some: pollEvent._id ) && participant !== editParticipant"
                     class="p-check">
                  <i class="bi-check-lg icon"></i>
                </div>
                <div *ngIf="!(participant.participation | some: pollEvent._id )
                && !(participant.indeterminateParticipation | some: pollEvent._id ) && participant !== editParticipant"
                     class="p-unchecked">
                  <i class="bi-x-lg icon"></i>
                </div>
                <div
                  *ngIf="(participant.indeterminateParticipation | some: pollEvent._id ) && participant !== editParticipant"
                  class="p-indeterminate">
                  <i class="bi-question icon"></i>
                </div>
              </td>
            </ng-container>
            <ng-container *ngIf="participant === editParticipant">
              <td *ngFor="let check of editChecks; let n=index">
                <app-check-button [poll]="poll" [check]="check" (checkChanged)="editChecks[n] = $event"></app-check-button>
              </td>
            </ng-container>
            <td *ngIf="participant === editParticipant" class="border-0 text-start">
              <button class="btn btn-primary btn-sm ms-1" type="button" (click)="cancelEdit()">
                <i class="bi-x"></i>
              </button>
              <button class="btn btn-secondary btn-sm ms-1" type="button" (click)="confirmEdit()">
                <i class="bi-check"></i>
              </button>
            </td>
            <td *ngIf="!editParticipant" class="border-0 text-start">
              <button
                *ngIf="poll?.settings?.allowEdit && getToken() === participant.token"
                class="btn btn-primary btn-sm ms-1"
                placement="top"
                ngbTooltip="Edit participation"
                (click)="setEditParticipant(participant)">
                <i class="bi-pencil"></i>
              </button>
              <button
                *ngIf="isAdmin() || getToken() === participant.token"
                class="btn btn-sm btn-danger ms-1"
                type="button"
                placement="top"
                ngbTooltip="Delete participation"
                (click)="deleteParticipation(participant._id)"
              >
                <i class="bi-trash"></i>
              </button>
            </td>
          </tr>
        </ng-container>
        <tr *ngIf="!poll?.settings?.blindParticipation || isAdmin() || userVoted()">
          <th>Sum</th>
          <td *ngFor="let pollEvent of pollEvents">
            <div *ngIf="bestOption === countParticipants(pollEvent)" class="p-unchecked">
              <i class="bi-award"></i>
              {{ countParticipants(pollEvent) }}
            </div>
            <div *ngIf="bestOption !== countParticipants(pollEvent)">
              {{ countParticipants(pollEvent) }}
            </div>
          </td>
          <td class="border-0"></td>
        </tr>
        <tr *ngIf="isAdmin()">
          <th>Select Events</th>
          <td *ngFor="let pollEvent of pollEvents">
            <button
              type="button"
              class="btn text-primary"
              [class.bi-star-fill]="pollEvent._id && bookedEvents.includes(pollEvent._id)"
              [class.bi-star]="pollEvent._id && !bookedEvents.includes(pollEvent._id)"
              (click)="selectEvent(pollEvent._id)"
            ></button>
          </td>
          <td class="border-0 text-start">
            <button
              class="btn btn-sm btn-primary"
              type="button"
              [disabled]="bookedEvents.length === 0"
              (click)="book()">
              Book
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
<ngbx-toast-list></ngbx-toast-list>
