.table-responsive td, .table-responsive th {
  min-width: 100px;
}

@media (min-width: 768px) {
  th:first-child, th:last-child,
  td:first-child, td:last-child {
    position: sticky;
    backdrop-filter: blur(5px);
  }

  th:first-child, td:first-child {
    background: linear-gradient(90deg, white, rgba(white, 0.75));
    left: 0;
  }

  th:last-child, td:last-child {
    background: linear-gradient(90deg, rgba(white, 0.75), white);
    right: 0;
  }
}
