<div class="d-flex justify-content-center">
  <div class="col-6 justify-content-center">
    <div *ngIf="pollEvents" class="table-responsive text-center">
      <form class="m-5" [formGroup]="participateForm" (ngSubmit)="onFormSubmit()">
        <table class="table">
          <thead>
          <tr>
            <th scope="col"></th>
            <th *ngFor="let event of pollEvents" scope="col">
              <div class="vote-option">
                {{ event.start | date:'E' }} <br>
                <h3><b>{{ event.start | date:'d' }}</b></h3>
                <div class="month-text">{{ event.start | date:'MMM' }}</div>
                {{ event.start | date:'HH:mm' }}- {{ event.end | date:'HH:mm' }}
              </div>
            </th>
            <th class="border-0" scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th style="min-width: 240px" scope="row">
              <input class="form-control" type="text" id="name" placeholder="Your name" formControlName="name">
              <div
                *ngIf="participateForm.hasError('missingName')">
                <div class="text-danger small">Name is required.</div>
              </div>
            </th>
            <td *ngFor="let pollEvent of pollEvents; let n=index">
              <input class="form-check-input rounded-circle" type="checkbox" (change)="checked(n)">
            </td>
          </tr>
          <ng-container *ngIf="!poll!.settings.blindParticipation">
            <tr *ngFor="let participant of participants">
              <th>
                {{participant.name}}
              </th>
              <td *ngFor="let pollEvent of pollEvents; let n=index">
                <div *ngIf="(participant.participation | some: pollEvent._id ) && participant !== editParticipant"
                     class="p-check">
                  <i class="bi-check-lg icon"></i>
                </div>
                <div *ngIf="!(participant.participation | some: pollEvent._id ) && participant !== editParticipant"
                     class="p-unchecked">
                  <i class="bi-x-lg icon"></i>
                </div>
                <div *ngIf="participant === editParticipant">
                  <input class="form-check-input rounded-circle" type="checkbox" (change)="editChecked(n)">
                </div>
              </td>
              <td *ngIf="participant === editParticipant" class="border-0 text-start">
                <button class="btn btn-primary btn-sm ms-1" type="button" (click)="cancelEdit()">
                  <i class="bi-x"></i>
                </button>
                <button class="btn btn-secondary btn-sm ms-1" type="button" (click)="confirmEdit()">
                  <i class="bi-check"></i>
                </button>
              </td>
              <td *ngIf="!editParticipant" class="border-0 text-start">
                <button
                  *ngIf="getToken() === participant.token"
                  class="btn btn-primary btn-sm ms-1"
                  placement="top"
                  ngbTooltip="Edit participation"
                  (click)="editParticipation(participant)"
                >
                  <i class="bi-pencil"></i>
                </button>
                <button
                  *ngIf="getToken() === poll?.adminToken || getToken() === participant.token"
                  class="btn btn-sm btn-danger ms-1"
                  type="button"
                  placement="top"
                  ngbTooltip="Delete participation"
                  (click)="deleteParticipation(participant._id)"
                >
                  <i class="bi-trash"></i>
                </button>
              </td>
            </tr>
          </ng-container>
          <tr *ngIf="!poll!.settings.blindParticipation">
            <th>
              Sum
            </th>
            <td *ngFor="let pollEvent of pollEvents">
              {{ countParticipants(pollEvent) }}
            </td>
          </tr>
          </tbody>
        </table>
        <!-- TODO: align button -->
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
