<div class="col d-flex justify-content-center">
  <div class="col-lg-6 mt-3">
    <div class="input-group mb-3">
      <!-- TODO: wrap with card? -->
      <input class="form-control" type="text" [(ngModel)]="input">
      <button
        class="btn btn-outline-secondary"
        type="button"
        placement="top"
        ngbTooltip="Copy to clipboard"
        (click)="copyToClipboard()"
      >
        <i class="bi-clipboard"></i>
      </button>
      <button
        class="btn btn-outline-secondary"
        type="button"
        placement="top"
        ngbTooltip="Toggle visibility"
        (click)="toggleVisibility()"
      >
        <i *ngIf=visible class="bi-eye"></i>
        <i *ngIf=!visible class="bi-eye-slash"></i>
      </button>
      <button class="btn btn-outline-secondary" type="button" placement="top" ngbTooltip="Re-Generate Token">
        <i class="bi-arrow-repeat"></i>
      </button>
    </div>
  </div>
</div>
