<ngbx-modal #modal [back]="[{outlets: {modal: null}}]" [backOptions]="{relativeTo: route.parent}">
  <ng-container modal-title>
    User Settings
  </ng-container>
  <ng-container modal-body>
    <div class="mb-3">
      <form [formGroup]="mailForm">
        <label for="mail">E-Mail</label>
        <input type="email" class="form-control" id="mail" formControlName="mail">
        @if (mailForm.controls.mail.errors?.['email']) {
          <small class="form-text text-danger">Please enter a valid email (e.g. example&#64;email.com).</small>
        }
      </form>
    </div>
    <app-token></app-token>
    <small class="form-text text-muted">This token can be copied to view your polls on other devices.
      The letters should not be typed in individually, but the token should be pasted as a whole.</small>
  </ng-container>
  <ng-container modal-footer>
    <button type="button" class="btn btn-outline-secondary" (click)="modal.close()">Cancel</button>
    <button class="btn btn-primary" (click)="save(modal)">Save</button>
  </ng-container>
</ngbx-modal>
