<div class="d-flex justify-content-center">
  <div class="col-6 justify-content-center">
    <div class="container settings-box">
      <h2>Settings</h2>
      <form class="m-1 pt-2" [formGroup]="settingsForm" (ngSubmit)="onFormSubmit()">
        <div class="form-group form-check">
          <label class="form-check-label" for="maxParticipants">Maximum number of participants:</label>
          <input class="form-check-input" type="checkbox" id="maxParticipants" formControlName="maxParticipants">
          <div *ngIf="settingsForm.get('maxParticipants')?.value">
            <input class="form-control" type="number" min="1" id="maxParticipantsInput"
                   formControlName="maxParticipantsInput">
          </div>
        </div>
        <div class="form-group form-check">
          <label class="form-check-label" for="allowMaybe">Allow "maybe"-option</label>
          <input class="form-check-input" type="checkbox" id="allowMaybe" formControlName="allowMaybe">
        </div>
        <pre>{{settingsForm?.value|json}}</pre>
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary" type="submit" [disabled]="!settingsForm.dirty">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
