<ol class="timeline-list">
  @if (showMore) {
    <li class="timeline-item">
      <div class="timeline-item-badge bg-secondary">
        <i class="bi-three-dots-vertical"></i>
      </div>
      <div class="timeline-item-body">
        <button class="btn btn-link m-0 p-0" (click)="loadMore()">
          Load older items...
        </button>
      </div>
    </li>
  }
  @for (log of logs; track log._id) {
    <li class="timeline-item">
      @switch (log.type) {
        @case ("comment") {
          <div class="timeline-item-badge bg-secondary">
            <i class="bi-chat-text"></i>
          </div>
          <div class="timeline-item-body">
            <div class="card">
              @let comment = $any(log.data);
              <div class="card-header">
                <b>{{ comment.name }}</b> commented
                <span class="text-muted">&bullet; {{ log.createdAt | date: 'short' }}</span>
              </div>
              <div class="card-body">
                <app-markdown [text]="comment.body"></app-markdown>
              </div>
            </div>
          </div>
        }
        @case ("participant.created") {
          <div class="timeline-item-badge bg-secondary">
            <i class="bi-check-circle"></i>
          </div>
          <div class="timeline-item-body">
            @let participant = $any(log.data);
            <b>{{ participant.name || 'An anonymous user' }}</b> participated in the poll
            <span class="text-muted">&bullet; {{ log.createdAt | date: 'short' }}</span>
          </div>
        }
        @case ("events.changed") {
          <div class="timeline-item-badge bg-secondary">
            <i class="bi-pencil-square"></i>
          </div>
          <div class="timeline-item-body">
            @let changes = $any(log.data);
            The <b>poll owner</b> changed available options:
            @if (changes.created) {
              <b>added {{ changes.created }}</b> &bullet;
            }
            @if (changes.deleted) {
              <b>removed {{ changes.deleted }}</b> &bullet;
            }
            @if (changes.changed) {
              <b>modified {{ changes.changed }}</b> &bullet;
            }
            <span class="text-muted">{{ log.createdAt | date: 'short' }}</span>
          </div>
        }
        @case ("poll.booked") {
          <div class="timeline-item-badge bg-secondary">
            <i class="bi-calendar-event"></i>
          </div>
          <div class="timeline-item-body">
            @let booked = $any(log.data).booked;
            The <b>poll owner</b> booked <b>{{ booked }}</b> {booked, plural, =1 {appointment} other {appointments}}
            <span class="text-muted">&bullet; {{ log.createdAt | date: 'short' }}</span>
          </div>
        }
      }
    </li>
  }
</ol>
@if (poll.settings.allowComments) {
  <hr/>
  <div class="card">
    <div class="card-header">
      <input type="text" class="form-control" placeholder="Your name" [(ngModel)]="commentName">
    </div>
    <textarea class="form-control card-body" placeholder="Your comment" [(ngModel)]="commentBody"></textarea>
    <div class="card-footer d-flex align-items-center">
      <button class="btn btn-primary bi-send" (click)="postComment()">
        Send
      </button>
      <span class="ms-3 bi-info-circle">
        Your comment will be visible to all participants.
      </span>
    </div>
  </div>
} @else {
  <div class="alert alert-info">
    Comments are disabled for this poll.
  </div>
}
