<ul>
  @for (log of logs; track log._id) {
    <li>
      @switch (log.type) {
        @case ("comment") {
          <div class="card">
            @let comment = $any(log.data);
            <div class="card-header">
              <b>{{ comment.name }}</b> commented &bullet; {{ log.createdAt | date: 'short' }}
            </div>
            <div class="card-body">
              <app-markdown [text]="comment.text"></app-markdown>
            </div>
          </div>
        }
      }
    </li>
  }
</ul>
