<ul>
  @for (log of logs; track log._id) {
    <li>
      @switch (log.type) {
        @case ("comment") {
          <div class="card">
            @let comment = $any(log.data);
            <div class="card-header">
              <b>{{ comment.name }}</b> commented &bullet; {{ log.createdAt | date: 'short' }}
            </div>
            <div class="card-body">
              <app-markdown [text]="comment.body"></app-markdown>
            </div>
          </div>
        }
        @case ("participant.created") {
          <b>Someone</b> participated in the poll &bullet; {{ log.createdAt | date: 'short' }}
        }
        @case ("events.changed") {
          @let changes = $any(log.data);
          The <b>poll owner</b> changed available options:
          @if (changes.created) {
            <b>added {{ changes.created }}</b> &bullet;
          }
          @if (changes.deleted) {
            <b>removed {{ changes.deleted }}</b> &bullet;
          }
          @if (changes.changed) {
            <b>modified {{ changes.changed }}</b> &bullet;
          }
          {{ log.createdAt | date: 'short' }}
        }
        @case ("poll.booked") {
          @let booked = $any(log.data).booked;
          The <b>poll owner</b> booked <b>{{ booked }}</b> {booked, plural, =1 {appointment} other {appointments}} &bullet; {{ log.createdAt | date: 'short' }}
        }
      }
    </li>
  }
</ul>
<hr/>
<div class="card">
  <div class="card-header">
    <input type="text" class="form-control" placeholder="Your name" [(ngModel)]="commentName">
  </div>
  <textarea class="form-control card-body" placeholder="Your comment" [(ngModel)]="commentBody"></textarea>
  <div class="card-footer d-flex align-items-center">
    <button class="btn btn-primary bi-send" (click)="postComment()">
      Send
    </button>
    <span class="ms-3 bi-info-circle">
      Your comment will be visible to all participants.
    </span>
  </div>
</div>
