<ngbx-modal #modal [back]="['../']">
  <ng-container modal-title>
    <h4 class="modal-title" id="modal-title">Postpone</h4>
  </ng-container>
  <ng-container modal-body>
    <div class="mb-3">
      <label for="days">Days</label>
      <input type="number" class="form-control" id="days" [(ngModel)]="postponeDays" min="0">
    </div>
  </ng-container>
  <ng-container modal-footer>
    <button type="button" class="btn btn-outline-secondary" (click)="modal.close()">Cancel</button>
    <button class="btn btn-primary" (click)="apply()">Apply</button>
  </ng-container>
</ngbx-modal>
