<p>Hello,</p>
<p>You have received a new message from Apollusia.</p>
<p>The following appointments have been booked:</p>
<ul>
    {{#each appointments}}
        <li>{{this}}</li>
    {{/each}}
</ul>
<p>You have agreed to appointments marked with *.</p>
