<div class="container mt-5 mb-5">
  <h2>Privacy Policy</h2>
  <p class="text-muted">Last updated: August 19, 2023</p>
  <p>This Privacy Policy describes the use and disclosure of your information when you are using this service.
    We use your information to provide and improve the service. By using the service, you agree to the collection and
    use of information in accordance with this policy. Apollusia is an open source project and is not responsible for
    the privacy policies of other hosting entities or instances. Each hosting entity or instance is responsible for
    their own privacy policies. The original Apollusia project is hosted at <a href="https://apollusia.com">apollusia.com</a>.
  </p>
  <h3>Purpose of Data Collection</h3>
  <p>We collect certain types of personal information to improve our service and to provide you with a better
    experience. The types of personal information we collect are described below.</p>
  <ul>
    <li>
      <p><strong>Name</strong>
        By participating in a poll, you may be asked to provide your name. This name may used to identify you in the
        poll results by the poll creator.</p>
    </li>
    <li>
      <p><strong>Email Address</strong>
        You have the option to provide an email address when using Apollusia. This email address is used to send you
        notifications about the poll you are participating in. You can opt-out of these notifications at any time.</p>
    </li>
    <li>
      <p><strong>Available times</strong>
        When participating in a poll, you may be asked to provide your available times. This information is used to
        determine the best time for an event.</p>
    </li>
  </ul>
  <h3>Legal Basis for Data Processing</h3>
  <p>Apollusia operates in compliance with the data protection regulations applicable in Germany, where our platform is
    hosted. The collection and processing of personal information is carried out based on the legal grounds of user
    consent. When you voluntarily provide your personal information by participating in a poll and utilizing our
    services, you
    are providing your explicit consent for us to process the information for the purposes outlined in this Privacy
    Policy.</p>
  <h3>Cookies</h3>
  <p>At Apollusia, we utilize cookies to enhance your experience and offer convenient functionality, especially for
    users accessing our platform on different end devices. Cookies are small text files stored on your device, which
    contain data such as a unique token. The specific purpose of the cookies we employ is to allow users to seamlessly
    continue using Apollusia on different end devices. By storing a unique token in these cookies, we can provide
    you with a consistent experience across sessions. By continuing to use our platform, you consent to the use of
    cookies as described.</p>
  <h3>Security Measures</h3>
  <h3>User Rights</h3>
  <h3>Contact Us</h3>
</div>
