.navbar {
  box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}

.navbar-brand {
  margin-left: 1rem;
}

p {
  font-size: 2em;
}

.navbar-logo {
  height: 1em;
  width: auto;
}

.pointer-cursor {
  cursor: pointer;
}
