<ngbx-modal #modal [back]="['../']">
  <ng-container modal-title>
    <h4 class="modal-title" id="modal-title">Custom definition</h4>
  </ng-container>
  <ng-container modal-body>
    <form [formGroup]="modalForm">
      <div class="form-group mb-3">
        <label for="dates">Select multiple dates</label>
        <ngb-datepicker
          class="form-control"
          id="dates"
          (dateSelect)="onDateSelect($event)"
          [dayTemplate]="dayTemplate"
          [displayMonths]="1">
        </ngb-datepicker>
      </div>
      <div class="row">
        <div class="form-group col">
          <label for="startTime">Start time</label>
          <input class="form-control"
                 id="startTime"
                 formControlName="startTime"
                 type="time"
          >
        </div>
        <div class="form-group col">
          <label for="duration">Duration</label>
          <input class="form-control"
                 id="duration"
                 formControlName="duration"
                 type="time"
          >
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
          <label for="pause">Break between Events</label>
          <input class="form-control"
                 id="pause"
                 formControlName="pause"
                 type="time"
          >
        </div>
        <div class="form-group col">
          <label for="repeat">Repeat x times</label>
          <input class="form-control"
                 id="repeat"
                 formControlName="repeat"
                 type="number"
                 autocomplete="off"
                 min="1"
          >
        </div>
      </div>
    </form>
  </ng-container>
  <ng-container modal-footer>
    <button type="button" class="btn btn-outline-secondary" (click)="modal.close()">Cancel</button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="apply(); modal.close()"
      [disabled]="!modalForm.valid">Apply
    </button>
  </ng-container>
</ngbx-modal>

<ng-template #dayTemplate let-date>
  <div class="custom-day d-flex justify-content-center align-items-center"
       [class.selected]="isSelected(date)"
       (mouseenter)="hoveredDate = date"
       (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </div>
</ng-template>
