/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';

/* Color palette */
$cyclamen: #e27396ff;
$amaranth-pink: #ea9ab2ff;
$pink-lace: #efcfe3ff;
$beige: #eaf2d7ff;
$powder-blue: #b3dee2ff;
