/* You can add global styles to this file, and also import other style files */

/* Color palette */
$persian-indigo: #3c096cff;
$purple: #5a189aff;
$french-violet: #7b2cbfff;
$amethyst: #9d4eddff;
$heliotrope: #c77dffff;
$mauve: #e0aaffff;

/* Overrides */
$primary: $french-violet;
$secondary: $purple;

/* Imports */
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import '../node_modules/angular-calendar/css/angular-calendar.css';
@import 'flatpickr/dist/flatpickr.css';

/* Cal-header */
.cal-week-view .cal-time-events {
  max-height: calc(100vh - 320px);;
  overflow-y: auto;
}

.cal-day-headers {
  margin-right: 17px;
}

.cal-day-columns {
  height: 100%;
}

.card-header {
  background-color: $purple;
  color: white;
}


/* Ngb-Datepicker */
.ngb-dp-day {
  width: 4rem !important;
  height: 4rem !important;
}

.ngb-dp-day > div {
  width: 4rem !important;
  height: 4rem !important;
  line-height: 4rem !important;
}

.ngb-dp-weekday {
  width: 4rem !important;
}

.ngb-dp-weekday {
  color: $amethyst !important;
}
