.p-check {
  background-color: #7b2cbfff;
  color: white;
  font-size: 2rem;
}

.p-indeterminate {
  background-color: #c77dffff;
  font-size: 2rem;
}

.p-unchecked {
  background-color: #e0aaffff;
  font-size: 2rem;
}

.thead-color {
  background-color: #3c096cff;
  color: white;
}
