<div class="container text-center">
  <table class="table table-bordered">
    <thead class="bg-primary text-light">
    <tr>
      <th scope="col">Feature</th>
      <th scope="col" *ngFor="let app of apps">{{ app }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let feature of features">
      <th scope="row">{{ feature[0] }}</th>
      <ng-container *ngFor="let alternative of feature[1]">
        <ng-container [ngSwitch]="alternative">
          <td *ngSwitchCase="true" class="bg-success text-light">
            <i class="bi-check-lg icon"></i>
          </td>
          <td *ngSwitchCase="false" class="bg-danger">
            <i class="bi-x-lg icon"></i>
          </td>
          <td *ngSwitchDefault class="bg-warning" placement="left" [ngbTooltip]="''+alternative" container="body">
            <i class="bi-flag icon"></i>
          </td>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</div>
