<div class="d-flex justify-content-center text-center">
  <div class="col-6 justify-content-center">
    <table class="table table-bordered">
      <thead class="thead-color">
      <tr>
        <th scope="col">Feature</th>
        <th scope="col">Doodle</th>
        <th scope="col">Apollusia</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">Anonymous participation</th>
        <th scope="row" class="p-0">
          <div class="p-check">
            <i class="bi-check-lg icon"></i>
          </div>
        </th>
        <th scope="row" class="p-0">
          <div class="p-check">
            <i class="bi-check-lg icon"></i>
          </div>
        </th>
      </tr>
      <tr>
        <th scope="row">Participation limit</th>
        <th scope="row" class="p-0">
          <div class="p-check">
            <i class="bi-check-lg icon"></i>
          </div>
        </th>
        <th scope="row" class="p-0">
          <div class="p-check">
            <i class="bi-check-lg icon"></i>
          </div>
        </th>
      </tr>
      <tr>
        <th scope="row">Editing</th>
        <th scope="row" class="p-0">
          <div class="p-check">
            <i class="bi-check-lg icon"></i>
          </div>
        </th>
        <th scope="row" class="p-0">
          <div class="p-check">
            <i class="bi-check-lg icon"></i>
          </div>
        </th>
      </tr>
      <tr>
        <th scope="row">Deadline</th>
        <th scope="row" class="p-0">
          <div class="p-indeterminate" placement="left" ngbTooltip="Paid option">
            <i class="bi-flag icon"></i>
          </div>
        </th>
        <th scope="row" class="p-0">
          <div class="p-check">
            <i class="bi-check-lg icon"></i>
          </div>
        </th>
      </tr>
      <tr>
        <th scope="row">Maybe-option</th>
        <th scope="row" class="p-0">
          <div class="p-indeterminate" placement="left" ngbTooltip="Not adjustable">
            <i class="bi-flag icon"></i>
          </div>
        </th>
        <th scope="row" class="p-0">
          <div class="p-check">
            <i class="bi-check-lg icon"></i>
          </div>
        </th>
      </tr>
      <tr>
        <th scope="row">Blind participation</th>
        <th scope="row" class="p-0">
          <div class="p-unchecked">
            <i class="bi-x-lg icon"></i>
          </div>
        </th>
        <th scope="row" class="p-0">
          <div class="p-check">
            <i class="bi-check-lg icon"></i>
          </div>
        </th>
      </tr>
      </tbody>
    </table>
  </div>
</div>
