<div class="table-responsive text-center">
  <table class="table align-middle">
    <thead>
    <tr>
      <th scope="col"></th>
      @for (event of pollEvents; track event._id) {
        <th scope="col">
          <app-event-head
            [event]="event"
            [class.text-muted]="pollService.isPastEvent(event)"
          ></app-event-head>
        </th>
      }
      <th class="border-0" scope="col"></th>
    </tr>
    </thead>
    <tbody>
      @if (canParticipate) {
        <tr>
          <th style="min-width: 240px" scope="row">
            <input
              class="form-control"
              type="text"
              id="name"
              placeholder="Your name"
              [disabled]="poll.settings.anonymous"
              [(ngModel)]="newParticipant.name" (change)="validateNew()"
              (input)="nameChange.next()"
            >
          </th>
          @for (event of pollEvents; track event._id) {
            <td>
              <app-check-button
                [poll]="poll"
                [(check)]="newParticipant.selection[event._id]"
                (checkChange)="validateNew()"
                [isFull]="!newParticipant.selection[event._id]"
                [isPastEvent]="pollService.isPastEvent(event)"
              ></app-check-button>
            </td>
          }
          <th class="border-0" scope="col">
            <div class="d-flex align-items-center">
              <div class="text-center ms-1" ngbTooltip="Select All" style="flex-basis: 2rem">
                <app-check-button
                  [poll]="poll"
                  (checkChange)="selectAll($event)"
                ></app-check-button>
              </div>
              <div class="d-inline-block ms-1" [ngbTooltip]="errors.join(', ')">
                <button class="btn btn-primary btn-sm" [disabled]="errors.length" (click)="submit()">
                  Submit
                </button>
              </div>
            </div>
          </th>
        </tr>
      }
        @for (participant of participants; track participant._id) {
          <tr>
            <th>
              <apollusia-participant-info [participant]="participant"></apollusia-participant-info>
            </th>
            @if (participant !== editParticipant) {
              @for (pollEvent of pollEvents; track pollEvent._id; let n = $index) {
                <td>
                  <div class="d-flex">
                    @switch (participant.selection[pollEvent._id]) {
                      @case ('yes') {
                        <h5 class="p-yes bi-check-lg" ngbTooltip="Yes"></h5>
                      }
                      @case ('no') {
                        <h5 class="p-no bi-x-lg" ngbTooltip="No"></h5>
                      }
                      @case ('maybe') {
                        <h5 class="p-maybe bi-question" ngbTooltip="Maybe"></h5>
                      }
                      @default {
                        <h5 class="p-unset bi-question" ngbTooltip="Unspecified"></h5>
                      }
                    }
                    @if (isAdmin) {
                      @let isBooked = bookedEvents[pollEvent._id] | some:participant._id;
                      <input
                        type="checkbox"
                        class="ms-2 text-secondary form-check-hidden"
                        [class.bi-star-fill]="isBooked"
                        [class.bi-star]="!isBooked"
                        [ngModel]="isBooked"
                        (ngModelChange)="setBookedParticipant(pollEvent._id, participant._id, $event)"
                      >
                    }
                  </div>
                </td>
              }
              <td class="border-0 text-start">
                @if (poll.settings.allowEdit && token === participant.token) {
                  <button
                    class="btn btn-primary btn-sm ms-1 bi-pencil"
                    placement="top"
                    ngbTooltip="Edit participation"
                    (click)="setEditParticipant(participant)">
                  </button>
                }
                @if (isAdmin || token === participant.token) {
                  <button
                    class="btn btn-sm btn-danger ms-1 bi-trash"
                    type="button"
                    placement="top"
                    ngbTooltip="Delete participation"
                    (click)="deleteParticipation(participant._id)">
                  </button>
                }
              </td>
            } @else {
              @if (editDto) {
                @for (event of pollEvents; track event._id) {
                  <td>
                    <app-check-button
                      [poll]="poll"
                      [(check)]="editDto.selection[event._id]"
                      (checkChange)="validateEdit()"
                      [isPastEvent]="pollService.isPastEvent(event)"
                    ></app-check-button>
                  </td>
                }
              }
              <td class="border-0 text-start">
                <button class="btn btn-primary btn-sm ms-1 bi-x" type="button" (click)="cancelEdit()"></button>
                <div class="d-inline-block" [ngbTooltip]="errors.join(', ')">
                  <button class="btn btn-secondary btn-sm ms-1 bi-check" type="button" [disabled]="errors.length"
                          (click)="confirmEdit()"></button>
                </div>
              </td>
            }
          </tr>
        }
        <tr>
          <th>Votes</th>
          @for (pollEvent of pollEvents; track pollEvent._id) {
            <td>
              <h5 [class]="bestOption === pollEvent.participants ? 'bi-award text-primary' : ''">
                {{ pollEvent.participants }}
              </h5>
            </td>
          }
          <td class="border-0"></td>
        </tr>
      @if (poll && isAdmin) {
        <tr>
          <th>Select Events</th>
          @for (pollEvent of pollEvents; track pollEvent._id) {
            <td>
              <input
                type="checkbox"
                class="text-primary form-check-hidden"
                [class.bi-star-fill]="bookedEvents[pollEvent._id] === true"
                [class.bi-star]="bookedEvents[pollEvent._id] !== true"
                [ngModel]="bookedEvents[pollEvent._id] === true"
                (ngModelChange)="setBooked(pollEvent._id, $event)"
              >
            </td>
          }
          <td class="border-0 text-start">
            <button
              class="btn btn-sm btn-primary"
              type="button"
              (click)="book()">
              Book
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
