name: Deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    name: Deploy ${{ matrix.app }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        app:
          - frontend
          - backend
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set Deployment Options
        id: deployment
        run: .github/workflows/deploy.sh
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: apps/${{ matrix.app }}/Dockerfile
          push: true
          # ${{ github.repository_owner }} does not work. See https://github.com/orgs/community/discussions/27086
          # If we ever move this to a different org, we need to update this line.
          tags: |
            ghcr.io/morphclue/apollusia-${{ matrix.app }}:${{ steps.deployment.outputs.tag }}
          build-args: |
            APP_VERSION=${{ steps.deployment.outputs.v_version }}
          cache-to: type=gha,mode=max
          cache-from: type=gha
